<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="../styles/main.css" type="text/css">
    <!-- Adding Emoji CSS from Afeld -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
</head>
<body>
    <header class="main-header-container">
        <!--Instead of adding unicode for emojis. We can use an external style sheet for emojisz-->
        <!-- Since <i> represents a span of text, text-align should work fine. -->
        <h1>Fitness<i class="em em-bicyclist"></i>Tracker<i class="em em-woman-running"></i>Pro</h1>
    </header>
    <section>
        <div class="analytics-wrapper">
            <div class="analytics-title-container">
                <header><h2>Analytics</h2></header>
            </div>
            <div class="analytics-body-container">
                <p>Total Minutes Exercised: <span>01/01/1970</span></p>
                <p>Total Minutes Exercised: <span>01/01/1970</span></p>
                <p>Total Minutes Exercised: <span>01/01/1970</span></p>
                <p>Total Minutes Exercised: <span>01/01/1970</span></p>
                <p>Total Minutes Exercised: <span>01/01/1970</span></p>
            </div>
        </div>
    </section>
</body>
</html>